@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url(//db.onlinewebfonts.com/c/64a2cfb57c4a5df1013e4f2e5bf3eff3?family=SF+Pro+Display);

$primaryFont: 'Lato', sans-serif;
$secondaryFont: 'Questrial', sans-serif;
$tertiaryFont: -apple-system, BlinkMacSystemFont, sans-serif; //SF Pro Display

$gradientColor: linear-gradient(135deg, #0FA1DB 0%, #9AE95A 50.32%, #F8C800 97.59%);

$bgEvent: url('/images/eventBg.svg');
$bgLanding: url('/images/landingBg.svg')